include README.md
include LICENSE
recursive-include examples/train_a_policy/data *.pl
recursive-include examples/train_a_policy/lineworld_rule_based *.json *.py
recursive-include examples *.ipynb
recursive-include tests *.py
recursive-include docs *.rst *.py *.bat Makefile
